
$primary-color: #0078A0;   
$secondary-color: #7FDBFF; 
$accent-color: #FF4136;   
$background-color: #f8f8f8; 
$text-color: #333;     
$light-gray: #ddd;
$dark-gray: #555;


$font-family-base: 'Arial', sans-serif;
$font-family-headings: 'Georgia', serif;


$container-max-width: 1170px;