
.top-bar {
    background-color: $primary-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .menu-text {
        color: white; 
        font-weight: bold;
    }

    .menu > li > a {
        color: #f1f1f1;
        font-size: 0.9rem;

        &:hover {
            color: $secondary-color; 
            background-color: darken($primary-color, 10%);
        }
    }
}